h3 QuickCmdBtn

.form-line
    .header
        .title Disable tabs
        .description Disable tabs for buttons

    toggle.ml-1(
        title="Disable tabs for buttons",
        [(ngModel)]='config.store.quickCmdBtnPlugin.disableTabs',
        (ngModelChange)='config.save()'
    )